<% provide(:title, "Welcome") %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= t :welcome %><%= t :app_name %></h1>
    <p class="lead">
      <%= t :welcome_description %>
    </p>
    <% if !logged_in? %>
      <p><%= link_to "Log in", login_path, class: "btn btn-lg btn-primary", role: "button" %></p>
      <p><%= t :login_helper %></p>
    <% end %>
  </div>
</div>
