<li id="entry-<%= entry.id %>">
  <span class="timestamp">Work Date: <%= entry.date %></span>
  <span class="content"><%= entry.content %></span>
  <span class="mileage">Odometer: <%= entry.mileage %></span>
  <span class="employee"><%= entry.employee %></span>
  <%= image_tag entry.picture.url if entry.picture? %>
  <% if current_user.admin? %>
    <br />
<span class="delete-button">
  <%= link_to 'Delete',equipment_entry_path(@equipment, entry), method: :delete,
                                     data: { confirm: 'Are you sure?' } %>
</span>
|
<% end %>
<span class="edit-button">
  <%= link_to 'Edit', edit_equipment_entry_path(@equipment, entry) %>
</span>
</li>
