<%= form_for(@equipment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :purchase_date %>
    <%= f.date_field :purchase_date, :value => Time.now.strftime('%Y-%m-%d'), class: 'form-control' %>
    <%= f.label :name, 'Unit Number' %>
    <%= f.text_field :name, placeholder: "E.g. Unit 89", class: 'form-control' %>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.label :serial %>
    <%= f.text_field :serial, class: 'form-control' %>
    <br />
    Where Applicable
    <br />
    <%= f.label :plate, '* License Plate' %>
    <%= f.text_field :plate, placeholder: "123 ABC", class: 'form-control' %>
    <%= f.label :expiry_date, '* Registration Expiry' %>
    <%= f.date_field :expiry_date, :include_blank => true, class: 'form-control' %>
  </div>
  <br />
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
