<% provide(:title, @equipment.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="equipment_info">
      <h1>
        <%= @equipment.name %> -
        <%= @equipment.description %>
      </h1>
      <h4>
        <%= @equipment.serial %>
      </h4>
      <% if @equipment.plate? %>
        <h5>Plate: <%= @equipment.plate %> - Expiry: <%= @equipment.expiry_date %></h5>
      <% end %>
      <% if current_user.admin? %>
        <% if @equipment.entries.count == 0 %>
          <%= link_to "Delete", @equipment, method: :delete,
                                         data: { confirm: "You sure?" } %>
        <% end %>
        <%= link_to "Edit", edit_equipment_path(@equipment) %>
      <% end %>
    </section>
    <section class="entry_form">
      <%= render 'shared/entry_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @equipment.entries.any? %>
      <h4 class="entry_count">Entries: (<%= @equipment.entries.count %>)</h4>
      <ol class="entries">
        <%= render @entries %>
      </ol>
      <%= will_paginate @entries %>
    <% end %>
  </div>
</div>
