<%= form_for [@equipment, @entry] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control' %>
    <p></p>
    <%= f.text_area :content, placeholder: "Enter notes or work completed...", class: 'form-control' %>
    <% if @entry.mileage.present? %>
      <p></p>
      <%= f.label :mileage, 'Mileage / Hours' %>
      <%= f.text_field :mileage, placeholder: "###", class: 'form-control' %>
    <% end %>
    <% if @equipment.primary_hours_label.present? %>
      <p></p>
      <%= f.label :primary_hours, @equipment.primary_hours_label %>
      <%= f.text_field :primary_hours, placeholder: "###", class: 'form-control' %>
    <% end %>
    <% if @equipment.secondary_hours_label.present? %>
      <p></p>
      <%= f.label :secondary_hours, @equipment.secondary_hours_label %>
      <%= f.text_field :secondary_hours, placeholder: "###", class: 'form-control' %>
    <% end %>
    <p></p>
    <%= f.label :employee %>
    <%= f.text_field :employee, value: current_user.name, class: 'form-control' %>
    <%= hidden_field_tag :equipment, @equipment.id %>
  </div>
  <p></p>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
  </span>
<% end %>
<br />
<script type="text/javascript">
  $('#entry_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
